* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Inter', sans-serif;
}

.sp-width {
    max-width: 1100px;
    margin: 0 auto;
    border: 1 px solid black;
}

/* This is banner section styles  */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: rgba(229, 84, 115, 0.10);
    ;
}

.banner-text-content {
    width: 600px;
}

.banner-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 700;
}

.discription {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 8px;
}

.btn {
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    background: #E55473;
    font-size: 20px;
    color: white;
}

.banner-img {
    width: 450px;
    height: 100vh;
}

/* This is Collection section styles  */

.Collection-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
}

.Collection-discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

}

.SmallBox {
    display: flex;
    align-items: end;
    width: 300px;
    height: 360px;
    border-radius: 300px 300px 0px 0px;
}

.SmallBox1 {
    background-color: rgba(167, 33, 98, 0.15);
}

.SmallBox2 {
    background: rgba(5, 151, 160, 0.15);
}

.SmallBox3 {
    background: rgba(71, 125, 17, 0.15);
}

.SmallBox-img {
    margin-left: 30px;
    width: 250px;
    height: 300px;
}

.discript-Box {
    display: flex;
    justify-content: center;
    gap: 270px;
}

.SmallBox-discript {
    color: #272727;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
}

/* This is service section style  */

.Our-service {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    border-radius: 8px;
    background-color: rgba(39, 39, 39, 0.05);
    padding: 25px;
}

.service-box-img {
    width: 50px;
    height: 50px;
    margin-left: 50px;
}

/* This is hot deal styles  */

.hot-deal {
    display: flex;
    justify-content: center;
    gap: 100px;
    align-items: center;
    height: 50vh;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

.deal-text-content {
    width: 500px;
}

.deal-text-title {
    color: #272727;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 10px;
}

.deal-img {
    width: 220px;
    height: 300px;
}

.sp-color {
    color: #E55473;
}
.signup-btn{
    margin-left: 130px;
    margin-top: 5px;
}

/*  This is instagram section */
